html,
body {
  font-family: 'Inter', sans-serif;
  /* letter-spacing: 0.1em; */
  background: #ffffff;
  color: #121212;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: 'Inter', sans-serif;
  color: #121212;
  letter-spacing: 0.05em;
  font-weight: 500;
}

h1 {
  font-family: 'Inter', sans-serif;
  color: #121212;
  letter-spacing: 0.05em;
  font-weight: 600;
}

::selection {
  background: #93ff2d; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #93ff2d; /* Gecko Browsers */
}

@media (max-width: 800px) {
  html {
    font-size: 14px;
  }
}
