html,
body {
  font-family: 'Akzidenz-Grotesk Pro Regular', sans-serif;
  letter-spacing: 0.1em;
  background: #fdfdfd;
  color: #121212;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: 'Akzidenz-Grotesk Pro Regular', sans-serif;
  color: #121212;
}
